.section {
  display: grid;
  grid-template-rows: auto var(--pf-sheet-box-height) var(--pf-sheet-box-height) var(--pf-sheet-box-height) var(--pf-sheet-box-height) var(--pf-sheet-box-height) var(--pf-sheet-box-height);
  grid-template-columns: 6em repeat(6, var(--pf-sheet-box-width));
  gap: var(--pf-gap);

  padding: var(--pf-gap);
}

.title {
  grid-row: 1;
}

.header {
  grid-row: 1;
  grid-row-gap: 0;
  align-self: end;
}

.label {
  grid-column: 1;
}

.value {
  font-weight: 700;
}