.ability-label {
  background-color: black;
  color: white;
}

.base-ability-scores, .ability-row {
  gap: 5px;
}

.ability-row>* {
  width: 5rem;
  align-content: center;
  text-align: center;
}

.radio {
  width: 2rem;
  height: 2rem;
}