.choice-character_name {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 60%;
}

.choice-alignment {
  flex: 7em;
}

.choice-current_level {
  flex: 5em;
}

.choice-race {
  flex: 5em;
}

.choice-class {
  flex: 15em;
}

.choice-deity {
  flex: 10em;
}

.choice-homeland {
  flex: 10em;
}

.choice-gender {
  flex: 5em;
}

.choice-age {
  flex: 3em;
}

.choice-height {
  flex: 3em;
}

.choice-weight {
  flex: 4em;
}

.choice-hair {
  flex: 5em;
}

.choice-eyes {
  flex: 5em;
}