.section {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.row {
  align-items: flex-end;
}

.characterName {
  min-width: 40%;
}

.alignment {
  flex-grow: 1;
}

.playerName {
  min-width: 40%;
}

.characterLevel {
  flex-grow: 1;
}

.deity {
  min-width: 20%;
}

.homeland {
  min-width: 20%;
}

.race {
  flex-grow: 1;
}

.size {
  min-width: 10%;
}

.gender {
  min-width: 10%;
}

.age {
  min-width: 10%;
}

.height {
  min-width: 10%;
}

.weight {
  min-width: 10%;
}

.hair {
  min-width: 10%;
}

.eyes {
  min-width: 10%;
}