.skillRow {
  align-items: end;
}

.skillName {
  display: flex;
  font-size: 8pt;

  font-variant-caps: small-caps;
  flex: 1;
  min-width: 2em;
}

.value {
  text-align: center;
  display: flex;
  width: 2em;
  font-weight: 700;
}

.abilityName {
  display: inline-block;
  width: 2em;
}

.operator {
  margin: 0 -0.5em;
  font-variant: small-caps;
}

.title {
  margin-bottom: -0.25rem;
}

.modifierLine {

}

.classTrainedBox {
  width: 8pt;
  height: 8pt;

  border: 2px solid black;
  margin-right: -0.25rem;
}

.classTrainedBoxChecked {
  composes: classTrainedBox;
  background-color: dimgray;
}

.classTrainedBoxUnchecked {
  composes: classTrainedBox;
}