.section {
  display: grid;

  grid-auto-rows: var(--pf-sheet-box-height);
  /*grid-template-rows: var(--pf-sheet-box-height) var(--pf-sheet-box-height) var(--pf-sheet-box-height);*/
  grid-template-columns: var(--pf-sheet-box-width) var(--pf-sheet-box-width) var(--pf-sheet-box-width) var(--pf-sheet-box-width);
  gap: var(--pf-gap);
}

.speedLabel {
  grid-row: 1;
  grid-column: 1;
}

.speedBox {
  grid-row: 1;
  grid-column: 2;
}

.armorSpeedBox {
  grid-row: 1;
  grid-column: 3;
}