.alignment-box {
  display: flex;
  width: 4em;
  height: 4em;
  border: 2px solid var(--pf-edit-written-color);

  align-items: center;
  justify-content: center;

  cursor: pointer;
  touch-action: manipulation;
}