.underlined-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--pf-edit-written-color);
}

.underlined {
  display: flex;
  height: 1.5em;
  line-height: 1em;
  border-bottom: 2px solid var(--pf-edit-label-color);
  align-items: center;
}