select {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  align-items: center;
  justify-content: start;
  min-height: 56px;
  padding: 5px 10px;

  background-color: var(--pf-button-background-color);
  border: var(--pf-border);
  color: var(--pf-button-text-color);
}