.dialog {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex-grow: 1;
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 1);
  /*max-width: 50vw;*/
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer {
  background-color: #0D6EFDFF;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex: 1;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;
}
.category.active {
  background-color: white;
  color: #0D6EFDFF;
  border-radius: 12px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.button {
  flex: 1;
  justify-content: center;
}