.option[open] summary {
  background-color: #0D6EFDFF;
  color: white;
}

.description {
  background-color: aliceblue;
}

.option.disabled summary {
  background-color: darkgray;
  color: black;
}

.option[open].disabled summary {
  background-color: darkgray;
  color: black;
}

.option.disabled .description {
  background-color: lightgrey;
}