:global(.no-gap) {
  row-gap: 0 !important;
  column-gap: 0 !important;
}

:global(.half-gap) {
  row-gap: calc(var(--row-gap) / 2) !important;
  column-gap: calc(var(--col-gap) / 2) !important;
}

:global(.no-grow) {
  flex-grow: 0 !important;
}

.section {
  display: flex;
  flex-direction: row;
  column-gap: var(--col-gap);
}

.row {
  flex: 1 1 auto;
  flex-direction: row;
  column-gap: var(--col-gap);
}

.col {
  flex: 1 1 auto;
  flex-direction: column;
  row-gap: var(--row-gap);
}