.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.underlined {
  composes: underlined from "./CharacterSheet.module.scss";
}

.label {
  composes: label from "./CharacterSheet.module.scss";
  color: dimgray;
}