.level-title {
  float: left;
}

.character-sheet-button {
  float: right;
}

.character-sheet-button a {
  color: unset;
}

.label--option-type {
  font-variant-caps: small-caps;
  font-size: 10pt;
}

.level-pillbox {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.level-pillbox>* {
  display: flex;
  flex-grow: 1;
}