.abilityScoreSection {
  gap: 10px;
}

.abilityScores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.abilityScore {
  width: 170px;
}

.pointCost {
  display: flex;
  width: 100%;
}

.asiList {
  display: flex;
  flex-direction: column;
  flex: 1;
}