// Variants

.pill {
  width: unset;
  display: inline-block;
}

.default {
  --pf-button-background-color: white;
  --pf-button-text-color: dimgray;
  --pf-button-selected-background-color: var(--bs-primary);
  --pf-button-selected-text-color: white;
}

.white {
  @extend .default;
}

.header-link {
  width: unset;
  height: unset;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: left;
  letter-spacing: .04em;
  line-height: 18px;
  min-height: unset;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  border: 0;
  background: unset;
  color: white;
}

.link {
  width: unset;
  cursor: pointer;
  display: inline;
  font-size: 18px;
  font-weight: 700;
  justify-content: left;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;
  border: 0;
  background: unset;
  color: var(--bs-primary);
}

.feat {
  --pf-button-background-color: #FFD050;
  --pf-button-text-color: #6A4D00;
  --pf-button-selected-background-color: #FFF0B3;
  --pf-button-selected-text-color: #663700;
}

.green {
  --pf-button-background-color: #D0FFD0;
  --pf-button-text-color: #006A00;
}

.red {
  --pf-button-background-color: #FFD0D0;
  --pf-button-text-color: #6A0000;
}

.blue {
  --pf-button-background-color: #c7ddfe;
  --pf-button-text-color: #045adc;
}

.special {
  --pf-button-background-color: #c7ddfe;
  --pf-button-text-color: #045adc;
}

.rage_power {
  @extend .special;
}

.witch_hex {
  @extend .default;
}

.class {
  @extend .default;
}

.class_feature {
  --pf-button-background-color: #c7ddfe;
  --pf-button-text-color: #045adc;
}

.ability {
  --pf-button-background-color: #c7ddfe;
  --pf-button-text-color: #045adc;
}

.race {
  @extend .default;
}

.list-item {

}

.list-item:not(:last-child) {
  border-bottom: 0;
}

.add-button {
  border: 0;
  color: var(--bs-link-color);
  font-size: 0.8em;
  height: 0.8em;
  line-height: 0.8em;
  padding: 0;
}