@import "src/views/CharacterSheetPage";

.pfcs-character-health-section {
  display: flex;;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  padding-left: var(--pf-grid-spacing);
  margin-right: var(--pf-grid-spacing);

  & .health-row >div {
    margin: var(--pf-grid-spacing);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.health-row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: end;
}

.health-heading {
  @extend .heading;
  @extend .centered;

  height: 0.75rem;
  text-align: center;
  align-items: end;
}

.health-label {
  @extend .centered;
  @extend .label;

  width: 5rem;
}

.health-value {
  @extend .value;
}

.health-block {
  &--total-hp {
    flex-grow: 1;

    & .health-heading, & .health-value {
      width: 100%;
    }
  }

  &--dr {
    & .health-heading, & .health-value {
      width: 4rem;
    }
  }

  &--current-hp, &--nonlethal-damage {
    width: 100%;

    & .health-heading {
      width: 100%;
      justify-content: left;
    }

    & .health-value {
      width: 100%;
    }
  }
}

.health-block--current-hp .health-value {
  height: 4rem;
}