@use "../../../theme/character-sheet/root";

.pfcs-character-info-section {
  $grid-columns: 12 !default;
  $grid-gutter-width: 0 !default;
  $grid-row-columns: 6 !default;
}

.pfcs-character-info-block {
  width: 100%;
  padding: 0 0.5em;

  .row>*:first-of-type & {
    padding-left: 0;
  }

  .row>*:last-of-type & {
    padding-right: 0;
  }

  &--label {
    height: 1.5em;
    font-weight: bold;
    font-size: 10pt;
    color: var(--pf-header-color);
  }

  &--value {
    height: 1.5em;
    border-bottom: 2px solid var(--pf-cell-border-color);
  }
}