@media print {
  :not(*:has(.page), .page, .page *) {
    display: none;
  }

  .page {
    box-shadow: none;
  }

  @page  {
    size: letter;
  }
}

.page {
  margin: 0 auto;
  page: CharacterSheet;
  font-size: var(--pfcs-base-font-size);
  min-width: 8.5in;
  width: 8.5in;
  min-height: 11in;
  background-color: white;
  border: 2px solid black;
  page-break-after: always;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}