.app-container {
  display: flex;
  background-color: lightgray;
}

.entry-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*overflow-y: auto;*/
  width: 200px;
  min-height: 100vh;
}

.entry-nav-item {
  width: 300px;
}

.entry-view {
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
  overflow-x: scroll;
}