.pf-feature-badge {
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #C5C5C5;
  border: 1px solid #505050;
  color: #505050;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
}

.pf-feature-feat {
  background-color: gold;
  border: 1px solid #505000;
  color: #505000;
}

.pf-feature-roguetalent {
  background-color: #A0FFA0;
  border: 1px solid #005000;
  color: #005000;
}

.pf-feature-ragepower {
  background-color: #FFA0A0;
  border: 1px solid #500000;
  color: #500000;
}

.pf-feature-badge .pf-feature-icon {
  margin-right: 0.25em;
}