@import "bootstrap";

@mixin feature-block-variant(
      $collapsed-background,
      $expanded-background,
      $collapsed-color: white,
      $expanded-color: white) {

  margin-bottom: 1em;

  .pf-feature-block-expand-button {
    width: 100%;
    background-color: initial;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
    display: flex;
    font-family: Quicksand, sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: left;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 0;
    padding: 18px 18px;
    text-align: left;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: center;
  }

  .pf-feature-block-caret {
    width: 1em;
    text-align: left;
  }

  .pf-feature-block-expand-button:hover {

  }

  .pf-feature-block-expand-button.collapsed {
      $background-color: $collapsed-background;
      $text-color: darken($background-color, 45%);

      background-color: $background-color;
      border: 2px solid $text-color;
      color: $text-color;
  }

  .pf-feature-block-expand-button.expanded {
    $background-color: $collapsed-background;
    $text-color: darken($background-color, 45%);

    background-color: $background-color;
    border: 2px solid $text-color;
    color: $text-color;
  }

  .pf-feature-block-expand-button.invalid {
    $background-color: var(--bs-secondary);
    $text-color: var(--bs-white);

    background-color: $background-color;
    border: 2px solid $text-color;
    color: $text-color;
  }

  .pf-feature-block-label-text {
    margin-left: 0.25em;
  }

  .pf-feature-block-description {
    padding: 0.5em 2em 0;
  }

  //margin-bottom: 1em;
  //
  //.pf-feature-block-expand-button {
  //  width: 100%;
  //  text-align: left;
  //}
  //
  //.pf-feature-block-expand-button.collapsed {
  //  @include button-variant(
  //      $background: $collapsed-background,
  //      $border: darken($collapsed-background, 33%),
  //      $color: $collapsed-color,
  //      $hover-background: $collapsed-color,
  //      $hover-border: darken($collapsed-color, 33%),
  //      $hover-color: $collapsed-background,
  //  );
  //}
  //
  //.pf-feature-block-expand-button.expanded {
  //  @include button-variant(
  //          $background: $expanded-background,
  //          $border: darken($expanded-background, 33%),
  //          $color: $expanded-color,
  //  );
  //}
  //
  //.pf-feature-block-label-text {
  //  margin-left: 0.25em;
  //}
}

.pf-feature-block {
  @include feature-block-variant(
              $collapsed-background: #FFD050,
              //$collapsed-color: darken(#FFD050, 45%),
              $expanded-background: #FFD050,
              //$expanded-color: darken(#FFD050, 45%),
  );
}