.section {
}

.label {
  min-width: var(--col-height);
}

.value {
  flex-grow: 1;
  flex-basis: 0;
}

.scalar {
  margin: 0 -0.25em;
}

.touchValue {
  composes: value;
}

.flatFootedValue {
  composes: value;
}

.modifiersValue {
  composes: value;
  flex: 3;
}