.section {
  flex-grow: 1;
}

.label {
  width: 6rem;
}

.value {
  width: 3rem;
}

.modifiers {
  flex-grow: 1;
}

.header {

}

.headerRow {
  align-items: start;
  height: var(--pfcs-header-font-size);
}

.headerOperator {
  visibility: hidden;
}