.root {
  line-height: var(--pfcs-header-font-size);
  height: unset;
  flex-grow: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: var(--pfcs-header-font-size);
  font-weight: 700;
  font-variant-caps: small-caps;
}