.label {
  $font-size: 125%;
  font-size: $font-size;
  line-height: $font-size;
  font-weight: 700;
  font-variant-caps: small-caps;

  min-width: 1em;
  padding: 0 0.5em;

  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}