.element {
  display: flex;
  flex-direction: column;

  min-width: var(--col-height);

  align-items: center;
  justify-content: center;
  font-weight: 700;

  user-select: text;

  position: relative;
}