.underlined-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.underlined {
  display: flex;
  height: 1.5em;
  line-height: 1em;
  border-bottom: 2px solid dimgray;
  align-items: center;
}

.label {
  font-size: 0.75em;
  color: dimgray;
}