.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.underlined {
  composes: underlined from "../CharacterSheet.module.scss";
}

.label {
  composes: label from "../CharacterSheet.module.scss";
  font-size: 0.75em;
  color: dimgray;
}