.label {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  gap: 0.25em;
  padding-left: 5px;
  align-items: center;
}

.labelSegment {
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: stretch;
}

.equipmentName {
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  line-height: 1.5em;
}

.quantity {
  margin-right: 0.5em;
}

.cost {
  color: darkgray;
}

.deleteButton:hover {
  color: red;
}

.editButton {
}

.editButton:hover {
  color: forestgreen;
}

.control {

}