.level-stats-display {
  margin-bottom: 1em;
  padding: 0;
}

.level-stats-display .header {
  font-weight: bold;
  text-align: center;
  font-size: 14pt;
  width: 100%;
  background-color: grey;
  color: white;
}

.level-stats-display .numeric-value {
  font-weight: bold;
  text-align: center;
  font-size: 14pt;
  width: 100%;
  color: grey;
}

.level-stats-display .row {
  margin: 0;
  padding: 0;
}

.level-stats-display .col {
  padding: 0.25em;
  margin: 0;
  border: 2px solid grey;
  border-right: 0;
}

.level-stats-display .col:last-child {
  border-right: 2px solid grey;
}