.pf-new-character-dialog {

  & .modal-header.title {
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: left;
    font-size: 14pt;
    width: 100%;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
    color: white;
  }

  & .modal-dialog .modal-content {
    //height: 90vh;
  }
}