body, html {
  height: 100vh;
}

body {
  background-color: lightgrey;
  width: 100vw;
}

.navbar, .nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  background-color: white;
  margin: 2em 2em;
  padding: 2em 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  /*line-height: 48px;*/
  /*height: 48px;*/
  font-weight: bold;
  text-align: right;
  font-size: 14pt;
  width: 100%;
}

.label-col {
  height: 48px;
  display: flex;
  align-items: center;
}

header {
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
  text-align: left;
  font-size: 14pt;
  width: 100%;

  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
  color: white;
}

.header {
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 14pt;
}

.row {
  margin-bottom: 1em;
}

.list-group-item {
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 14pt;
}

.form-control-plaintext {
  padding: 0.5em 0;
  font-weight: bold;
  text-align: left;
  font-size: 14pt;
  width: 100%;
}