@use "../theme/character-sheet/root";

.pf-character-sheet {
  body {
    background-color: grey;
    font-size: 14pt;
  }

  @media print {
    @page {
      size: Letter;
    }

    body {
      background-color: white;
      --pf-label-background-color: black;
    }

    body * {
      visibility: hidden;
    }

    .printable, .printable * {
      visibility: visible;
    }
  }

  .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin: 0;
    flex-wrap: nowrap;
  }

  main {
    padding: 1em !important;
  }

  .row > * {
    display: flex;
    flex-flow: column;
  }

  .cell {
    padding: var(--pf-grid-spacing);
  }

  .no-padding-left {
    padding-left: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  .pf-character-sheet {

    & .cell {

      &--base {
        display: flex;
        color: var(--pf-header-color);
        min-height: 1em;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        justify-self: stretch;
        //min-width: 1em;
      }

      &--header {
        @extend .cell--base;
        font-weight: bold;
        font-size: 6pt;
        text-align: justify-all;
      }

      &--label {
        @extend .cell--base;
        background-color: var(--pf-label-background-color);
        color: var(--pf-label-color);
        font-weight: bold;
        font-size: 12pt;
        border: var(--pf-label-background-color);
        min-height: 36px;
        min-width: 4em;
        padding: 0 0.25em;
      }

      &--value {
        @extend .cell--base;
        color: black;
        border: 2px solid var(--pf-cell-border-color);
        min-height: 36px;
        min-width: 1em;
      }

      &--text {
        @extend .cell--base;
        min-height: 36px;
        min-width: 0;
        margin: 0;
        padding: 0;
      }

      &--value-inner-label {
        display: block;
        text-align: left;
        font-size: 6pt;
        font-weight: bold;
        padding: 2px;
      }

      &--value-inner-content {
        display: block;
        min-height: 2em;
        width: 1em;
      }

      &--anchor-bottom {
        margin-top: auto;
      }
    }
  }

  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading {
    display: flex;
    font-weight: bold;
    font-size: 6pt;
    text-align: justify-all;

    width: 2.5rem;
    height: 1.5rem;
  }

  .label {
    @extend .centered;
    background-color: var(--pf-label-background-color);
    color: var(--pf-label-color);
    font-weight: bold;
    font-size: 12pt;
    border: var(--pf-label-background-color);
    width: 4rem;
    height: 2rem;
  }

  .label-2 {
    @extend .label;
    width: 8rem;
  }

  .label-3 {
    @extend .label;
    width: 12rem;
  }

  .label-4 {
    @extend .label;
    width: 16rem;
  }

  .value {
    @extend .centered;
    border: 2px solid var(--pf-cell-border-color);
    width: 2.5rem;
    height: 2rem;
  }

  .pfcs-section {
    display: flex;
    flex-direction: column;
  }

  .section-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 var(--pf-grid-spacing);

    & > div {
      margin: var(--pf-grid-spacing);

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .pfcs-ability-score-section {
    display: flex;
    flex-direction: column;
  }

  .attribute-row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }

  .attribute-heading {
    @extend .heading;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    margin: var(--pf-grid-spacing);
    margin-bottom: 0;
  }

  .attribute-heading:first-of-type {
    width: 4rem;
  }

  .attribute-label {
    @extend .label;
    @extend .centered;
    width: 4rem;
    margin: var(--pf-grid-spacing);
  }

  .attribute-value {
    @extend .value;
    @extend .centered;
    width: 2.5rem;
    height: 2rem;
    margin: var(--pf-grid-spacing);
  }
}