.root {
  height: unset;
  flex-grow: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 8pt;
  font-weight: 700;
  font-variant-caps: small-caps;
  line-height: 8pt;
}