.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav li {
  display: flex;
  padding: 1em;
}

.nav li a {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

.spacer {
  flex-grow: 1;
}