.control {
  border: 2px solid dimgrey;
  width: 100%;
}

.header {
  display: flex;
}

.label {
  flex-grow: 1;
}

.removeButton {
  display: flex;
  justify-self: end;
  padding: 0;
  margin: 0;

  width: 1.5rem;
  height: 1.5rem;
}

.fields {
  padding: 1em;
  background-color: #c7ddfe;
}