.control {
  background-color: white;
  min-height: 100vh;
  min-width: 100%;

  appearance: none;
  -webkit-appearance: none;

  color: dimgray;
  cursor: pointer;
}

.control option {
  display: flex;
  height: 2rem;
  align-items: center;
}