.control {
  display: flex;
  flex-direction: column;

  background-color: white;
  height: 100vh;

  appearance: none;
  -webkit-appearance: none;

  color: dimgray;
  cursor: pointer;
}

.search {
  border-radius: 0;
  border-width: 2px;
  /*border-top: 0;*/
  /*border-left: 0;*/
  /*border-right: 0;*/
  padding: 8px;
}

.select {
  width: 100%;
  border: 0;
  flex-grow: 1;
}

.select:focus, .search:focus {
  outline: none;
}

.control option {
  display: flex;
  height: 2rem;
  align-items: center;
}