.control {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: stretch;
}

.children {
  flex-grow: 1;
}

.closeButton {
  height: 1.5rem;
  width: 1.5rem;
}

.closeButtonRemoved {
  visibility: hidden;
}