.description {
  font-weight: normal;
}

.optionSets {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options {
  display: flex;
  gap: 5px;
  flex-flow: wrap;
}

.optionGroup {
  display: flex;
  flex-grow: 1;
  gap: 5px;
  flex-wrap: wrap;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
}

.selectedOption {
  background-color: var(--pf-button-selected-background-color);
  color: var(--pf-button-selected-text-color);
}