.label {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  gap: 0.25em;
}

.labelSegment {
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: stretch;
}

.equipmentName {
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}

.deleteButton:hover {
  color: red;
}

.editButton {
  margin-left: 0.5em;
}

.editButton:hover {
  color: forestgreen;
}

.control {

}