.control {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.minus {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.value {
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.04em;
  line-height: 16px;
  color: dimgray;

  height: 42px;
  width: 42px;

  display: flex;
  flex-grow: 1;
  align-items: center;
  border-top: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
}

.plus {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}