.button {
  --pf-button-background-color: white;
  --pf-button-text-color: dimgray;
  --pf-button-selected-background-color: var(--pf-button-background-color);
  --pf-button-selected-text-color: var(--pf-button-text-color);
  --pf-button-border-width: 2px;

  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: left;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: center;

  background-color: var(--pf-button-background-color);
  border: var(--pf-button-border-width) solid var(--pf-button-text-color);
  color: var(--pf-button-text-color);
}

// Button Colors

.active {
  background-color: var(--pf-button-selected-background-color);
  color: var(--pf-button-selected-text-color);
}

.disabled {
  --pf-button-background-color: #E8E4E0;
  --pf-button-text-color: dimgray;
  --pf-button-selected-background-color: #E8E4E0;
  --pf-button-selected-text-color: dimgray;
}