.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &>div {
    height: 54px;
    padding: 0 0.5rem;
  }
}

.characterName {
  min-width: 40%;
}

.alignment {
  min-width: 20%;
}

.playerName {
  min-width: 40%;
}

.characterLevel {
  min-width: 60%;
}

.deity {
  min-width: 20%;
}

.homeland {
  min-width: 20%;
}

.race {
  min-width: 30%;
}

.size {
  min-width: 10%;
}

.gender {
  min-width: 10%;
}

.age {
  min-width: 10%;
}

.height {
  min-width: 10%;
}

.weight {
  min-width: 10%;
}

.hair {
  min-width: 10%;
}

.eyes {
  min-width: 10%;
}