.section {
  display: flex;
}

.label {
  flex-grow: 1;
}

.totalHealth {
  flex-grow: 2;
}

.dr {
  flex-grow: 1;
}

.header {
  justify-content: start;
  margin-top: -0.25rem;
  margin-bottom: 0.1rem;
}

.currentHp {
  flex-grow: 1;
}