.section {
  display: flex;
  flex-direction: row;
}

.label {
  width: 150px;
  height: var(--col-height);
}

.total {
  height: var(--col-height);
}

.dexModifier {
  height: var(--col-height);
}

.miscModifier {
  height: var(--col-height);
}