.section {

}

.label {
  width: 6rem;
  justify-content: center;
}

.header {
  align-self: end;
  margin-bottom: -0.4rem;
}

.value {
  flex-grow: 1;
  flex-basis: 0;
}

.operator {
  line-height: var(--col-height);
  margin: 0 -0.5em;
}

.headerDivider {
  line-height: 0;
  visibility: hidden;
}

.modifiersValue {
  width: 6em;
  flex-grow: 1;
}