.section {

}

.label {
  width: 150px;
  justify-content: end;
}

.header {
  flex: 1;
  align-self: end;
}

.value {
  flex: 1;
}

.operator {
  line-height: var(--col-height);
}

.modifiersValue {
  flex: 1;
}