.section {

}

.label {
  width: 150px;
  justify-content: center;
}

.header {
  align-self: end;
  margin-bottom: -0.25rem;
}

.value {
  flex: 1;
}

.operator {
  line-height: var(--col-height);
  margin: 0 -0.25rem;
}

.headerDivider {
  line-height: 0;
  visibility: hidden;
}

.modifiersValue {
  min-width: 100px;
  flex: 1;
}