.skillRow {
  align-items: end;
  height: 9pt;
}

.skillName {
  display: flex;
  font-size: 8pt;
  line-height: 8pt;
  font-variant-caps: small-caps;
  flex: 1;
  min-width: 2em;
}

.value {
  text-align: center;
  display: flex;
  width: 2em;
  font-weight: 700;
}

.abilityName {
  display: inline-block;
  width: 2em;
}

.operator {
  margin: 0 -0.5em;
  font-variant: small-caps;
}

.title {
  margin-bottom: -0.25rem;
}

.modifierLine {
  height: 17px;
}