.skillRow {
  align-items: end;
  height: 1.5rem;
}

.skillName {
  display: flex;
  flex: 2;
  min-width: 250px;
}

.value {
  text-align: center;
  display: flex;
  flex: 1;
  font-weight: 700;
}

.abilityName {
  display: inline-block;
  font-size: 125%;
  width: 40px;
}

.operator {
  font-variant: small-caps;
}

