.section {
  column-gap: 0;
  row-gap: 0;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.row:first-of-type {

  .element:first-of-type {
    flex-grow: 2;

    .title {
      --font-size: 110%;
      flex-basis: 1.5rem;
      height: 1.5rem;

      border-radius: 10px 10px 0 0;
    }
  }
}

.element {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}

.value {
  display: flex;
  flex-basis: 2rem;

  border: 2px solid black;
  border-left: 0;
}

.leftValue {
  border-left: 2px solid black;
}

.title {
  --font-size: 75%;
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: 700;
  font-variant-caps: small-caps;

  flex-basis: 1rem;

  padding: 0 0.5em;

  display: flex;

  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
}

.damage {
  flex-grow: 2;
}