.control {
  display: grid;

  grid-template-columns: 3rem 3rem 3rem;
  grid-template-rows: 2rem 4rem 0.5fr 0.5fr;
}

.border {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

  border: var(--pf-border);
}

.header {
  grid-column: 1 / span 3;
  grid-row: 1;

  background-color: var(--pf-text-color);
  color: white;
  text-align: center;
  line-height: 2rem;
  font-size: 1.25em;
}

.input {
  /*padding: 1rem;*/

  grid-column: 1 / span 3;
  grid-row: 2 / span 2;

  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
}

.mod {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;

  border: var(--pf-border);
  background-color: white;
  text-align: center;
  padding: 0.5rem;
}