.control {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.cost {
  text-align: center;
}

.abilityScores {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
}