.type {
  border: var(--pf-border);
  border-color: var(--pf-button-text-color);
  background-color: var(--pf-button-portrait-background-color);
  color: var(--pf-button-background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  font-size: 20pt;
}