.pf-feature-list {
  $border-width: 2px;
  margin-bottom: 1em;

  &-item {

    &-button {
      width: 100%;
      cursor: pointer;
      display: flex;
      font-size: 18px;
      font-weight: 700;
      justify-content: left;
      letter-spacing: .04em;
      line-height: 16px;
      margin: 0;
      padding: 18px 18px;
      text-align: left;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: center;

      $background-color: #C5C5C5;
      $text-color: #505050;

      background-color: $background-color;
      border: $border-width solid $text-color;
      border-bottom-width: 0;
      color: $text-color;
    }

    &--expanded &-button, &--expanding &-button {
      //$background-color: lighten(#FFD050, 20%);
      //background-color: $background-color;
    }

    &--invalid &-button {
      $background-color: #E8E4E0;
      $text-color: darken($background-color, 45%);

      background-color: $background-color;
      border-color: $text-color;
      color: $text-color;
    }

    &--expanded &-button, &--expanding &-button, &--collapsing &-button, &:last-of-type &-button {
      border-bottom-width: $border-width;
    }

    &-body {
      padding: 0.5rem 0.5rem;
      margin-bottom: 0.25rem;
    }

    &.feat &-button {
      $background-color: #FFD050;
      $text-color: darken($background-color, 45%);

      background-color: $background-color;
      border-color: $text-color;
      color: $text-color;
    }

    &.ability &-button {
      $background-color: #c7ddfe;
      $text-color: darken($background-color, 45%);

      background-color: $background-color;
      border-color: $text-color;
      color: $text-color;
    }
  }
}