.prerequisiteHeader {
  font-weight: 700;
  font-size: 75%;
  font-variant-caps: small-caps;
  margin-bottom: 0.25rem;
}

.prerequisites {
  margin-bottom: 1rem;

  border: 2px solid dimgray;
  border-radius: 10px;
  padding: 0.5rem;
}

.prerequisitesValid {
  composes: prerequisites;
  border-color: var(--bs-success);
  background-color: #FEFFFE;
}

.prerequisitesInvalid {
  composes: prerequisites;
  border-color: var(--bs-danger);
  background-color: #FFFEFE;
}

.p {
  font-weight: normal;
}

.sectionLabel {
  font-weight: bold;
  text-transform: capitalize;
}