.description {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.prerequisitesBlock {
  border: 1px solid black;
  border-radius: 4px;
  padding: 16px;
}

.formula {
  display: flex;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.prerequisite {
  font-weight: bold;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.text {
  font-style: italic;
}